.content{
    align-items: center;
    background-color: aliceblue;
    width: 35%;
    margin: 0%;
    margin-left: 30%;
}
h2{
    text-align: center;
}
.content img{
    text-align: center;
    margin-left: 0%;
    height: 170px

}
#user{
    border-radius: 1%;
    padding: 0.5%;
    size: 30%;
}
#pass{
    border-radius: 1%;
    padding: 0.5%;
}
.login{
    align-items: center;
    text-align: center;


}